<!doctype html>
<html lang="en">

<head>
  <title>Beerbrew</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- Material Kit CSS -->
  <link href="/assets/css/material-dashboard.css?v=2.1.2" type="text/css" rel="stylesheet" /> 
</head>

<body>
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white">

      <div class="logo">
        <a href="/mainpage" class="simple-text logo-mini">
          BC
        </a>
        <a href="/mainpage" class="simple-text logo-normal">
          Home<strong>brew</strong>
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="/mainpage">
              <i class="material-icons">dashboard</i>
              <p>Beerboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/beersearch">
              <i class="material-icons">search</i>
              <p>Beer Search</p>
            </a>
          </li>
          <li class="nav-item  ">
            <a class="nav-link" href="/beerrecord">
              <i class="material-icons">add</i>
              <p>Beer Create</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">
              <i class="material-icons">update</i>
              <p>Analytics</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">
              <i class="material-icons">description</i>
              <p>Recipes</p>
            </a>
          </li>

          <!-- your sidebar here -->
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:;">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              Breja aquiiii
            </form>
            <ul class="navbar-nav">

              <!-- your navbar here -->
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">

			{% block top %}

			{% endblock %}

			{% block middle %}

			{% endblock %}
          <!-- Create form  -->
     
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  BeerBrew
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite </i>
            <a href="https://www.creative-tim.com" target="_blank">BeerBrew</a> the best beer in the world.
          </div>
          <!-- your footer here -->
        </div>
      </footer>
    </div>
  </div> 


</body>
</html> 