 
{% extends "base.html" %}

{% block cadastro %}
    <!-- table -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Beers Search</h4>
                  <p class="card-category">Catalog</p>
                </div>
                <div class="card-body">
				
				 <table class="table">
                      <thead class=" text-primary">
						<div class="input-group no-border">		 
							<tr>
								<th>Name</th>
								<th>Style</th>
							</tr>
							<tr>
								<td>
								<input type="text" value="" class="form-control"> 
								</td>
								<td>
								<input type="text" value="" class="form-control"> 
								</td>
								<td class="text-right">
								<div class="row">
								<a class="btn btn-primary pull-right" href="/beerfind">Search</a>
									</div>
								</td>
							</button>
							</tr>

						</div>
				</table>  
				<br>
				<br>
				<br>				
                  
                </div>
              </div>
            </div>
          </div>
	{%if found is not none%}
		{{found}}
	{%endif%}
	{%if msg is not none%}
		{{msg}}
	{%endif%}
{% endblock %}




