 
{% extends "base.html" %}

{% block cadastro %}
    <!-- table -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Beers Search</h4>
                  <p class="card-category"> catalog</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>Name</th>
                        <th>Style</th>
                        <th>Started</th>
                        <th>Finished</th>
                        <th>Column 5</th>

                      </thead>
                      <tbody>
                        <!-- loop aqui pra  -->
                        <tr>
                          <td>
                            1
                          </td>
                          <td>
                            Lorem ipsum
                          </td>
                          <td>
                            lorem
                          </td>
                          <td>
                            ipsum
                          </td>
                          <td class="text-primary">
                            text color
                          </td>
                        </tr>
                        <!-- end loop aqui -->

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
	{%if found is not none%}
		{{found}}
	{%endif%}
	{%if msg is not none%}
		{{msg}}
	{%endif%}
{% endblock %}




