 
{% extends "base.html" %}

{% block cadastro %}
    <!-- table -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Beers Search</h4>
                  <p class="card-category">Catalog</p>
                </div>
                <div class="card-body">
				
				 <table class="table">
                      <thead class=" text-primary">
					  <form method="post">{{ form.csrf_token }}  
						<div class="input-group no-border">		 
							<tr>
								<th>Name</th>
								<th>Style</th>
							</tr>
							<tr>
								<td>
								<input type="text" name="beername" value="" class="form-control" size="15"> 
								</td>
								<td>
								<input type="text" name="beerstyle" value="" class="form-control"> 
								</td>
								<td class="text-right">
								<div class="row">
								
									<button type="submit" name="Search" class="btn btn-primary pull-right" href="SearchResult.html">Search</button> 
									{% with messages = get_flashed_messages() %}
										{% if messages %}
										<ul class=flashes>
										{% for message in messages %}
										<li>{{ message }}</li>
										{% endfor %}
										</ul>
									  {% endif %}
									{% endwith %}
								

								</div>
								</td> 
							</tr>
						</form>
						</div>
				</table>  
				<br>
				<br>
				<br>				
                  
                </div>
              </div>
            </div>
          </div>
{% endblock %}


