 {% extends "base.html" %}

<br>
<br>
{% block cadastro %}
	Beer Catalog
	   <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Create / Edit beers</h4>
                  <p class="card-category">Fill the form</p>
                </div>
                <div class="card-body">
                  <form  action = "/beerrecord" method="post">
                  <div class="form-field">{{ form.beername.label }} {{ form.beername }}</div>
				  <div class="form-field">{{ form.beerstyle.label }} {{ form.beerstyle }}</div>
				  <div class="form-field">{{ form.description.label }} {{ form.description }}</div>
				  {{ form.submit }}
                  </form>
                </div>
              </div>
            </div>
          </div>
		</div>
      </div>
          <!-- end form --> 
{{form}}
{% endblock %}		  