 {% extends "base.html" %}

<br>
<br>
{% block top %}
    <!-- table -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Create/Edit Beer</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body">
				
				 <table class="table">
                      <thead class=" text-primary">
					  <form method="post" action="/beerrecord">{{ form.csrf_token }}  
						<div class="input-group no-border">		 
							<tr>
								<th>Name</th>
								<th>Style</th>
								<th>Description</th>
								<th>Created</th>
								<th>Finished</th>
							</tr>
							<tr>
								<td><input type="text" name="beername" class="form-control" id="beername" value="{{ name }}"></td>
								<td><input type="text" name="beerstyle" class="form-control" id="beerstyle" value="{{ style }}"></td>
								<td><input type="text" name="description" class="form-control" id="description" value="{{ desc }}"></td>
								<td><input type="text" name="created" class="form-control" id="created" value="{{ created }}"></td>  
								<td><input type="text" name="finished" class="form-control" id="finished" value="{{ finished }}"></td>
								<td class="text-right">
									<div class="row">
										<button type="submit" name="Save" class="btn btn-primary pull-right" >Save</button> 					
									</div>
								</td>
							</tr>
								{% with messages = get_flashed_messages() %}
										{% if messages %}
										<ul class=flashes>
										{% for message in messages %}
										<li>{{ message }}</li>
										{% endfor %}
										</ul>
									  {% endif %}
									{% endwith %}				
						</div>
						</form>
				</table>  
				<br>
				<br>
				<br>				
                  
                </div>
              </div>
            </div>
          </div>
{% endblock %}
{% block middle %}
{% endblock %}		  