 
{% extends "base.html" %}

{% block top %}
    <!-- table -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Hops Database</h4> 
                  <p class="card-category">Search</p>
				  <div class="mdc-tab-bar" role="tablist">
				  <div class="mdc-tab-scroller">
					<div class="mdc-tab-scroller__scroll-area">
					  <div class="mdc-tab-scroller__scroll-content">
						<button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
						  <span class="mdc-tab__content">
						  
							<span class="mdc-tab__icon material-icons" aria-hidden="true">search</span>
							<span class="mdc-tab__text-label">Search</span>
						  </span>
						  <span class="mdc-tab-indicator mdc-tab-indicator--active">
							<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
						  </span>
						  <span class="mdc-tab__ripple"></span>
						</button>
						<button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="1">
						  <span class="mdc-tab__content">
							<span class="mdc-tab__icon material-icons" aria-hidden="true">add</span>
							<span class="mdc-tab__text-label">Create</span>
						  </span>
						  <span class="mdc-tab-indicator mdc-tab-indicator--active">
							<span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
						  </span>
						  <span class="mdc-tab__ripple"></span>
						</button>
					  </div>
					</div>
				  </div>
				</div>
                </div>

            </div>
          </div>
{% endblock %}	
{% if ret %}
{% block middle %}
<table class="table">
                      <thead class=" text-primary">
<div class="input-group no-border">		
 
<tr>
<td align="justify">
<b>Type</b> - Indicates if the hop is primarily thought of as a bittering hop, an aroma hop, or that it well suited for both jobs.
</td>
<td align="justify">
<b>Alpha</b> - A measurement of potential bitterness in the hop that can be extracted during the boil. This is the amount of the hop, by weight, that is composed of the acid.
</td>
<td align="justify">
<b>Beta</b> - ameasurement of the beta acid content of the hop. Beta acids do play a role in bittering, though they are not well converted in the boil. Instead, as alpha acids break down during fermentation and storage, beta acids slowly create bitterness via oxidation.
</td>

</div>
</table>




<div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary"> 
                        <th><b>Hop</b></th>
                        <th><b>Origin</th>						
                        <th><b>Type</b></th>
                        <th><b>Alpha</b></th>
                        <th><b>Beta</b></th> 
						<th><b>Notes</b></th> 
                      </thead>
                      <tbody> 
						{% for row in ret %} 
						  <tr>
						  {% for key in row %}
							<td id="{{ key }}" class="{{ loop.cycle('odd', 'even') }}">{{ row[key] }}</td>
							{% endfor %}
							<td class="text-right">								
											<a href="/yeastrecord?yeastname={{ row['name'] }}" type="submit" name="edit" class="btn btn-primary pull-right">Edit</a>											
    						</td>
 					
						  </tr>						  
						{% endfor %}
							{% with messages = get_flashed_messages() %}
										{% if messages %}
										<ul class=flashes>
										{% for message in messages %}
										<li>{{ message }}</li>
										{% endfor %}
										</ul>
									  {% endif %}
									{% endwith %}				
                      </tbody>
                    </table>
                  </div>
{% endblock %}				  
{% endif %}

