 
{% extends "base.html" %}

{% block top %}  
<div class="row">
<div class="col-md-12">
  <div class="card">
	<div class="card-header card-header-primary">
	  <h4 class="card-title ">Create a Recipe</h4>
	  <p class="card-category"></p>
	</div>
	<div class="card-body" height="180" > 
	 <table class="table">
		<thead class=" text-primary"> 
		
		<link rel="stylesheet" href="css/bootstrap-table-expandable.css">
		<script src="js/bootstrap-table-expandable.js"></script>

		<form method="post" action="/recipesrecord">{{ form.csrf_token }}  
		<div class="input-group no-border">	   
		<tr>
					<th>Recipe Name</th>
					<th>Style</th>
					<th>Method</th>
					<th>Grain</th>
					<th>Hop</th>			
					<th>Yeast</th>
					<th>Fermentable</th>
		</tr>

		<tr >
			<td>
				<input type="text" name="name" value="" class="form-control" size="15"> 
			</td>
			<td>
				<input type="text" name="style" value="" class="form-control" size="15"> 
			</td>
			<td>
				<input type="text" name="method" value="" class="form-control" size="15"> 
			</td>	
			<td>
				<select id="grains" name="grains" method="GET" multiple class="form-control" size="20"> // addition here
					{% for x in Glist %}
					<option value= "{{ x }}" SELECTED>{{ x }}</option>"
					{% endfor %}  
				</select> 
			</td>
			<td>						

				<select id="hop"  name="hop" method="GET" multiple class="form-control">
					{% for Hope in Hlist %} 
							<option value= "{{ Hope }}" SELECTED>{{ Hope }}</option>" 
					{% endfor %}  
				</select>
			</td>
			<td>
				<select id="yeast"  name="yeast" method="GET" multiple class="form-control">
					{% for Yeast  in Ylist %}
					<option value= "{{ Yeast }}" SELECTED>{{ Yeast }}</option>"
					{% endfor %} 		 
				</select> 
			</td>
			<td>
				<input type="text" name="fermentable" value="" class="form-control" size="15"> 
			</td>
							
			<td class="text-right">
				<div class="row">
					<button type="submit" name="Save" class="btn btn-primary pull-right" >Save</button> 					
				</div>
			</td>
			
		</tr>
		<tr>
		  <td colspan="5"><h4>Additional information</h4>
			<ul>
			  <li><a href="#">USA on Wikipedia</a></li>
			  <li><a href="#">National Atlas of the United States</a></li>
			  <li><a href="#">Historical Documents</a></li>
			</ul>
		  </td>
		</tr>		
		  </form>
		</table>
    </div>
</div>  
</div>  
</div> 
</div>   	
{% endblock %}	
 