
{% extends "BrejaSearch.html" %}

{% block cadastro %}
<div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>Name</th>
                        <th>Style</th>
                        <th>Description</th>						
                        <th>Started</th>
                        <th>Finished</th>
                      </thead>
                      <tbody>
                        <!-- loop aqui pra  -->
                        <tr>
						{{ret}}
						{% for i in ret %}
                          <td>
                           {{ i }}
                          </td>                          
                          <td class="text-primary">
                            text color
                          </td>
						  <td class="text-right">
							<div class="row">
								<form action="/beerrecord" method="post">{{ form.csrf_token }} 
									<button type="submit" name="search" class="btn btn-primary pull-right">Edit</button> 
								</form>
							  {% with messages = get_flashed_messages() %}
								{% if messages %}
								<ul class=flashes>
								{% for message in messages %}
								<li>{{ message }}</li>
								{% endfor %}
								</ul>
							  {% endif %}
							{% endwith %}								
						  </td>
						{% endfor %}
                        </tr>
                        <!-- end loop aqui -->

                      </tbody>
                    </table>
                  </div>
{% endblock %}				  