 
{% extends "base.html" %}

{% block top %}
    <!-- table -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Yeast Database</h4>
                  <p class="card-category">Search</p>
                </div>
                <div class="card-body">
				
				 <table class="table">
                      <thead class=" text-primary">
					  <form method="post" action="/yeastssearch">{{ form.csrf_token }}  
						<div class="input-group no-border">		 
							<tr>
								<th>Name</th>
								<th>Lab</th>
								<th>Type</th>
							</tr>
							<tr>
								<td>
								<input type="text" name="Yeast" value="" class="form-control" size="15"> 
								</td>
								<td>
								<input type="text" name="Yeastlab" value="" class="form-control" size="15"> 
								</td>
								<td>
								<input type="text" name="Yeasttype" value="" class="form-control"> 
								</td>
								<td class="text-right">
								<div class="row">
								
									<button type="submit" name="Search" class="btn btn-primary pull-right" >Search</button> 
									{% with messages = get_flashed_messages() %}
										{% if messages %}
										<ul class=flashes>
										{% for message in messages %}
										<li>{{ message }}</li>
										{% endfor %}
										</ul>
									  {% endif %}
									{% endwith %}					

								</div>
								</td> 
							</tr>
						</form>
						</div>
				</table>  
				<br>
				<br>
				<br>				
                  
                </div>
              </div>
            </div>
          </div>
{% endblock %}	
{% if ret %}
{% block middle %}
<div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary"> 
                        <th>Name</th>
                        <th>Lab</th>
                        <th>Type</th>						
                        <th>Form</th>
                        <th>Temp</th>
                        <th>Attenuation</th>						
                        <th>Flocculation</th>						
                        <th>Notes</th>
	
                      </thead>
                      <tbody> 
						{% for row in ret %} 
						  <tr>
						  {% for key in row %}
							<td id="{{ key }}" class="{{ loop.cycle('odd', 'even') }}">{{ row[key] }}</td>
							{% endfor %}
							<td class="text-right">								
											<a href="/yeastsrecord?Name={{ row['Name'] }}" type="submit" name="edit" class="btn btn-primary pull-right">Edit</a>											
    						</td>
 					
						  </tr>						  
						{% endfor %}
							{% with messages = get_flashed_messages() %}
										{% if messages %}
										<ul class=flashes>
										{% for message in messages %}
										<li>{{ message }}</li>
										{% endfor %}
										</ul>
									  {% endif %}
									{% endwith %}				
                      </tbody>
                    </table>
                  </div>
{% endblock %}				  
{% endif %}

