 {% extends "base.html" %}

<br>
<br>
{% block top %}
    <!-- table -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Create/Edit Yeast</h4>
                  <p class="card-category"></p>
                </div>
                <div class="card-body">
				
				 <table class="table">
                      <thead class=" text-primary">
					  <form method="post" action="/yeastsrecord">{{ form.csrf_token }}  
						<div class="input-group no-border">		 
							<tr>
								<th>Yeast</th>
								<th>Lab</th>
								<th>Type</th>
								<th>Format</th>
								<th>Temp</th>
								<th>Attenuation</th>
								<th>Flocculation</th>
								<th>Notes</th>
							</tr>
							<tr>
								<td><input type="text" name="Yeast" class="form-control" id="Yeast" value="{{ Name }}"></td>
								<td><input type="text" name="Lab" class="form-control" id="Lab" value="{{ Lab }}"></td>
								<td><input type="text" name="typey" class="form-control" id="typey" value="{{ Typey }}"></td>
								<td><input type="text" name="formato" class="form-control" id="formato" value="{{ Formato }}"></td>  
								<td><input type="text" name="temp" class="form-control" id="temp" value="{{ Temp }}"></td>
								<td><input type="text" name="att" class="form-control" id="att" value="{{ Attenuation }}"></td>								
								<td><input type="text" name="flo" class="form-control" id="flo" value="{{ Flocculation }}"></td>								
								<td><input type="text" name="notes" class="form-control" id="notes" value="{{ Notes }}"></td>							
       
	
								<td class="text-right">
									<div class="row">
										<button type="submit" name="Save" class="btn btn-primary pull-right" >Save</button> 					
									</div>
								</td>
							</tr>
								{% with messages = get_flashed_messages() %}
										{% if messages %}
										<ul class=flashes>
										{% for message in messages %}
										<li>{{ message }}</li>
										{% endfor %}
										</ul>
									  {% endif %}
									{% endwith %}				
						</div>
						</form>
				</table>  
				<br>
				<br>
				<br>				
                  
                </div>
              </div>
            </div>
          </div>
{% endblock %}
{% block middle %}
{% endblock %}		  